*{
    text-align: center;
}
body{
    text-align: center;
    border: 300px solid rgb(38, 66, 159);
    font-size: 20px;
    background-color: rgb(91, 131, 155); 
}
h1{
    font-family: Arial, Helvetica, sans-serif ;
    color: rgb(24, 69, 129);
}
button{
    background-color: rgb(3, 142, 217);
}

.voltar {
    display: flex;
    justify-content: left;
    margin-top: 10px;
    margin-left: 20px;
}
