/*FONTE
     font-family: "Karla", sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');


/*PADRONIZAÇÃO E RESET*/
* {
    padding: 0;
    margin: 0;
    font-family: "Karla", sans-serif;
}

.fa-pen{
    color: #297011;
    font-size: 15px;
}

.logo{
    position: absolute; /*Define a logo como "LIVRE" assim posso mover da forma que eu desejar, usando top e rigth*/
    right: 0%;
    width: 7%;
    top: 0%;
}
/* CSS DO MENU */

/*TEXTOS DO MENU*/
.menu h3 {
    color: white;
    font-weight: bold;
    font-family: "Karla", sans-serif;
    padding-top: 15px;
}

.menu a {
    text-decoration: none; /*Retira o sublinhado do texto, por ser tag <a> de ancora, ele fica com sublinhado*/
}

.menu_list li {
    list-style: none;
    font-family: "Karla", sans-serif;
    color: white;
    transition: all 0.5s;
    text-align: left;
}
.menu_list li:hover{
    background-color: #29701191;
}
/* FIM - TEXTOS DO MENU - FIM */

.menu {
    background-color: #297011;
    width: 10%;
    padding-left: 15px;
    height: 100vh; /*85vh siginifico 85% da tela, por ser heigth quer dize que ocupara 100% da altura da tela do usuario*/
    position: fixed; /*Ao colocar fixed o menu lateral fica literalmente fixo e imovel verticalmente*/
}

.menu_list {
    display: flex;
    flex-direction: column;
    gap: 10px; /*Por ter varios itens na tag <ul> eu crio um gap ou seja um espaço entre eles*/ 
}

.menu h3 {
    margin-bottom: 10px; /*Margin normal, porem definida apenas na parte inferior do objeto*/
}

/*Codigo foto menu user*/
.foto_user_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 5px;
    position: absolute;
    bottom: 0%;
    width: 100%;
    left: 0%;
}
.foto_user_box img{
    width: 75px;
    border-radius: 50%;
}
.foto_user_box h5{
    margin-bottom: 15px;
}

/* FIM - CSS DO MENU - FIM */




/* CORPO */
.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content:flex-end;
    align-items: flex-end;
}

.imagem {
    justify-content: flex-end;
    display: flex;
    width: 100%;
}

img {
    width: 100px;
    height: 80px;
    justify-content: flex-end;
    display: flex;
}

.titulo {
    width: 300px;
    height: 50px;

    font-size: 33px;
    font-family: "Karla", sans-serif;
    color: #297011;
    border-radius: 10px;
    border: #9BE78D 2px solid;
    word-wrap: break-word;

    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-box-shadow: 1px 6px 12px 0px rgba(86, 86, 86, 0.54);
    -moz-box-shadow: 1px 6px 12px 0px rgba(79, 79, 79, 0.54);
    box-shadow: 1px 6px 12px 0px rgba(82, 82, 82, 0.54);
}

.inicio {
    display: flex;
    width: 90%;
    justify-content: center;

}

.boxes {
    width: 90%;
    height: 200px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;

}

.box {
    width: 40%;
    height: 110%;
    border-radius: 20px;
    border: #9BE78D 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    -webkit-box-shadow: 1px 6px 12px 0px rgba(86, 86, 86, 0.54);
    -moz-box-shadow: 1px 6px 12px 0px rgba(79, 79, 79, 0.54);
    box-shadow: 1px 6px 12px 0px rgba(82, 82, 82, 0.54);
}

.boxes .box img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

p {
    padding-top: 5px;
    font-size: 22px;
}

span {
    padding-top: 5px;
}

.boxU {
display: flex;

    width: 90%;
    height: 200px;

    border-radius: 20px;
    border: #9BE78D 2px solid;
    -webkit-box-shadow: 1px 6px 12px 0px rgba(86, 86, 86, 0.54);
    -moz-box-shadow: 1px 6px 12px 0px rgba(79, 79, 79, 0.54);
    box-shadow: 1px 6px 12px 0px rgba(82, 82, 82, 0.54);
}

.botao {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    width: 100%;
}

button {
    width: 100px;
    height: 35px;
    font-size: 22px;
    border-radius: 7px;
    border: #297011 2px solid;
    color: #fff;
    text-align: center;
    background-color: #297011;
    cursor: pointer;
}

.texto {
    display: flex;
    justify-content: space-around;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 20px;
    padding-left: 90px;
}

.resp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    text-align: left;
}

.title h1 {
    font-size: 26px;
    font-weight: lighter;
}

.title h2 {
    font-size: 26px;
    font-weight: lighter;
    padding-top: 10px;
}

.title h3 {
    font-size: 26px;
    font-weight: lighter;
    padding-top: 10px;
}

.title h4 {
    font-size: 26px;
    font-weight: lighter;
    padding-top: 10px;
}

.resp h1 {
    font-size: 26px;
    font-weight: lighter;
}

.resp h2 {
    font-size: 26px;
    font-weight: lighter;
    padding-top: 10px;
}

.resp h3 {
    font-size: 26px;
    font-weight: lighter;
    padding-top: 10px;
}

.resp h4 {
    font-size: 26px;
    font-weight: lighter;
    padding-top: 10px;
}

@media only screen and (max-width: 1600px){
    .cards_grid {
        display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Altere conforme necessário */
            gap: 20px;
            justify-items: center;
    }
    .menu {
        width: 12%;
    }
}

@media only screen and (max-width: 1200px){
    .cards_grid {
        display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Altere conforme necessário */
            gap: 20px;
            justify-items: center;
    }
    .conteudo {
        width: 85%;
        padding: 1% 5%;
    }
    
} 

.logOut {
    color: #fff;
    font-size: large;
    font-weight: bolder;
    margin-top: 25px;
    width: 80px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.logOut img {
    width: 20px;
    height: 20px;
    border-radius: 0%;
    padding-left: 10px;
}